{% extends "base.html" %} {% block title %} Add Student {% endblock title %}
{%block body %}
<h2>Students List</h2>
<center>
  <table>
    <tr>
      <thead>
        Name
      </thead>
      <thead>
        College
      </thead>
      <thead>
        Contact
      </thead>
      <thead>
        Guardian Contact
      </thead>
    </tr>
    {% for student in students %}
    <tr>
      <td>{{ student.student_name }}</td>
      <td>{{ student.college }}</td>
      <td>{{ student.student_phone }}</td>
      <td>{{ student.year }}</td>
    </tr>
    {% endfor %}
  </table>
</center>

{% endblock body %}
